*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: #000;
    height: 60px;
    
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right-section, .left-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    
}
.right-nav, .left-nav{
    display: flex;
    padding: 15px;
    
}
.center-nav img{
    margin-top: 5px;
    object-fit: contain;
}